body{
    background-color: #282c34;
}
.card{
    
    padding: 1%;
    background-color: #282c34;
    align-content: center;
}
.card .hero{
    align-content: center;
}
.card img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: 0 auto;
    
  }

  .card-body h1 {
     
      text-align: center;
      font-family: 'Marvel', sans-serif;
      
  }
  .card p{
    font-family: 'Marvel', sans-serif;
    color: whitesmoke;
  }
  .card-body a{
      text-decoration: none;
      color: whitesmoke;
      font-style: italic;
      text-shadow: black 1px 1px 1px;
  }
  header {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    margin-bottom: 2%;
  }
  .logo {
    margin-bottom: 20px;
    width: 30%;

  }
    
  .button {
    background-color: #f0141e;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: -5px;
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  .search-box {
    padding: 10px 20px;
    font-size: 20px;
    border: 0;
  }