
.heros{  
    margin-bottom: 3%;
   
}
.img-thumbnail {
    width: 95%;
    height: 95%;
    
}
.title{
    font-size: 15px;
    text-align: center;
}
.marg {
    margin: 5% 0%;
}
.card {
    display: flex;
    flex-direction: column;
    
    padding: 1%;
    text-align: center;
  }
  
  .card .img {
    width: 50%;
    height: 50%;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .card:nth-child(3n+1) {
      clear: left;
  }
  
  
  
  .card h2,
  .card p {
    color: black;
  }
  
  .card p {
    font-size: 12px;
  }
  
  .card a {
    color: black;
  }
 /*
  @media screen and (max-width:768px){
    
    #marvelhero{
      display: grid;
      grid-template-columns: 50% 50%;
    }
    .heros{
      width: 100%;
      position: unset;
      padding:unset;
      max-width: unset;
      flex: unset;
    }

  }*/